@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.activeButton {
  background-color: theme("colors.primary");
  color: theme("colors.very-dark-cyan");
}
